#include <studio.h>
int main() {
// prompting the user for input
Printf("enter the student's result: "); 
int result; 
Scanf("%d",&result); 

// grading the result 
if(result > 85) {
  printf("Grade A"); 
}esle if(result > 75) {
  printf("Grade B"); 
}else if(result > 65) {
  Printf("Grade C"); 
}else if(result > 55) {
  printf("Grade D"); 
}else { 
  printf("fail"); 
}
return 0; 
} 
